.header   img{
    width: 30%;
}
.menu  {
    background-color: red;
    height: 60px;
    
}
.taskbar{
    display: flex;
    margin: 0 190px;
    justify-content: space-between;

}

.taskbar-select{
    display: flex;
    list-style-type: none;
    padding: 0;
}

.select-btn{
    text-align: center;
    padding: 21px 16px;
    background-color: red;
    font-weight: bold;
    font-size: large;
    color: white;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 18px;
}

.select-btn a{
    color:#fff;
    text-decoration: none;
}

.select-btn a:hover{
    color: rgb(127, 221, 127);
}
.main h1{
    text-transform: uppercase;
    float: left;
}
.main .search{
    height: 35px;
    margin: 13px 0;
    text-align: center;
   

}

.main .search input{
    padding: 8px 16px;
    border-radius: 15px;
    background-color: white;

}
